{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row" style="padding-top: 50px;">
        <h1>House Prices Prediction</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
    
                <div class="mb-3">
                    <label class="form-label" for="BUILD_YEAR">Build Year</label>
                    <input class="form-control" type="number" name="BUILD_YEAR" id="BUILD_YEAR">
                    <div class="form-text">Build year will typically within the range from 1900-2022.</div>        
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="BEDROOMS">Number of bedrooms</label>
                    <input class="form-control" type="number" name="BEDROOMS" id="BEDROOMS">        
                    <div class="form-text">Number of bedrooms range from 1-5</div> 
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="BATHROOMS">Number of bathrooms</label>
                    <input class="form-control" type="number" name="BATHROOMS" id="BATHROOMS">        
                    <div class="form-text">Number of bathrooms range from 1-5</div> 
                </div>

                <div class="mb-3">
                    <label class="form-label" for="LAND_AREA">Land Area</label>
                    <input class="form-control" type="number" name="LAND_AREA" id="LAND_AREA">        
                    <div class="form-text">Land Area in metre squares</div> 
                </div>

                <div class="mb-3">
                    <label class="form-label" for="FLOOR_AREA">Floor Area</label>
                    <input class="form-control" type="number" name="FLOOR_AREA" id="FLOOR_AREA">        
                    <div class="form-text">Floor Area in metre squares</div> 
                </div>

                <div class="mb-3">
                    <label class="form-label" for="CBD_DIST">CBD distance</label>
                    <input class="form-control" type="number" name="CBD_DIST" id="CBD_DIST">        
                    <div class="form-text">CBD distance is the distance in Kms away from the CBD to the property</div> 
                </div>

                <div class="mb-3">
                    <label class="form-label" for="NEAREST_SCH_RANK">Nearest School Rank</label>
                    <input class="form-control" type="number" name="NEAREST_SCH_RANK" id="NEAREST_SCH_RANK">        
                    <div class="form-text">CBD distance is the distance in Kms away from the CBD to the property</div> 
                </div>


    
                <button type="button" class="btn btn-dark" id="forecast">Submit</button>
                <!-- <input type = "button" onclick = "myfunction()" value = "Submit"> -->

        </div>

        <div class="row" style="padding-top: 50px;" id="forecasted-price">
            
        </div>
    </div>
    
</div>

<!-- <script src="../static/js/forecast.js"></script> -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<script  type = "text/javascript" src="../static/js/forecast.js"></script>
<!-- <script>
function myfunction() {

    var BUILD_YEAR = $("#BUILD_YEAR").val();
    var BEDROOMS = $("#BEDROOMS").val();
    var BATHROOMS = $("#BATHROOMS").val();
    var LAND_AREA = $("#LAND_AREA").val();
    var FLOOR_AREA = $("#FLOOR_AREA").val();
    var CBD_DIST = $("#CBD_DIST").val();
    var NEAREST_SCH_RANK = $("#NEAREST_SCH_RANK").val();
    console.log(BUILD_YEAR);
    console.log(BEDROOMS);
    console.log(BATHROOMS);
    console.log(LAND_AREA);
    console.log(FLOOR_AREA);
    console.log(CBD_DIST);
    console.log(NEAREST_SCH_RANK);
    $.getJSON(
      // $.pd.to_json(
      `/api/predict/${BUILD_YEAR}/${BEDROOMS}/${BATHROOMS}/${LAND_AREA}/${FLOOR_AREA}/${CBD_DIST}/${NEAREST_SCH_RANK}`,
      (predicted) => {
        var PRICE = Math.floor(predicted.prediction);
        $("#forecasted-price").html(`
          <p>${PRICE}</p>
          `);
      }
    );
    // });
  }
</script> -->
{% endblock %}

